@model ErrorViewModel
@{
    // Setting the title for the error page
    ViewData["Title"] = "Error";
}

<!-- Main heading indicating an error occurred -->
<h1 class="text-danger">Error.</h1>
<!-- Subheading providing a general error message -->
<h2 class="text-danger">An error occurred while processing your request.</h2>

<!-- Conditional display of the request ID for troubleshooting -->
@if (Model.ShowRequestId)
{
    <p>
        <!-- Displaying the unique request ID for debugging purposes -->
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<!-- Information about Development mode for more detailed error information -->
<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <!-- Warning about the risks of enabling Development environment in production -->
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
