@{
    ViewData["Title"] = "About";
}


<div>
    <h3>A Note from the Creator of CGMD</h3>
    <p>
        <br /> 
        Classical Guitar Music Directory was born out of my own experiences as a collegiate classical guitar student. 
        One of the biggest problems I identified among guitarists was a lack of awareness of our repertoire. 
        As a result, most of us were just taking turns playing the same 1% of "greatest hits", and there seemed to be a misconception
        that our repertoire was limited. This couldn’t be further from the truth. With well over 10,000 published works, the 
        guitar is in fact among the most composed for instruments.
        <br /> <br />
        The first step in raising awareness of our repertoire is to democratize access. Having a central directory to
        view all these works is a huge development for the craft. These benefits are compounded by CGMD’s functionality, 
        which allows users to filter these works by era, key, stylistic tags, and much more. When I was a student, I would 
        spend countless hours scouring the internet for music to craft a thoughtful recital program. CGMD 
        allows users to do so with a fraction of the effort and with far more options to choose from. 
        <br /> <br />
        As a lover of New Music, I have long lamented the fact that new compositions are often only performed once before 
        they get buried by the overwhelming amount of new works that are constantly being shared online. Unless someone knows that 
        they exist and searches for it specifically, new works are unlikely to be found let alone performed again. By simply 
        placing them into CGMD alongside the rest of the canon, my hope is that new guitar 
        works get the appreciation they deserve.
        <br /> <br />
        Do you have a suggestion for CGMD? Feel free to <a asp-area="" asp-controller="Home" asp-action="Contact">contact me!</a> While CGMD is mostly 
        a one-man passion project, it was only possible with the input from my friends, peers, and mentors. 
        <br /> <br />
        Thank you Ian Wardenski, Troy King, Franco Platino, Thomas Viloteau, Manuel Barrueco, Asgerdur Sigurdardotir, 
        Andy Poxon, Alex Kenrick, Thomas Potts, Eric Rex, Corinne Mona, Mira Fu-En Huang, and Merja and Peter Washburn.
        <br /><br />
        - Jesse Washburn

    </p>
</div>


