@{
    // Setting the title of the Home Page
    ViewData["Title"] = "Home Page";
}

<!-- Main title section -->
<div class="text-center">
    <!-- Main title with larger display size for emphasis -->
    <h1 class="display-4">Classical Guitar Music Directory</h1>
    <!-- Subtitle describing the site -->
    <p><i>The</i> source for classical guitar repertoire</p>
</div>

<!-- Container for the main image -->
<div class="container text-center">
    <!-- Image related to the content of the site (Picasso's Guitar) -->
    <!-- Ensure to have the rights or permission to use this image -->
    <img src="~/picassoGuitar.jpg" alt="Picasso's Guitar" class="img-fluid" />
</div>
