@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Classical Guitar Music Directory</h1>
    <p><i>The</i> source for classical guitar repertoire</p>
</div>

<div class="container text-center">
    <img src="~/picassoGuitar.jpg" alt="Picasso's Guitar" class="img-fluid" />
</div>

